<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brief</key>
		<string>AL</string>
		<key>full</key>
		<string>ALBANIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>DZ</string>
		<key>full</key>
		<string>ALGERIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AD</string>
		<key>full</key>
		<string>ANDORRA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AR</string>
		<key>full</key>
		<string>ARGENTINA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AM</string>
		<key>full</key>
		<string>ARMENIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AU</string>
		<key>full</key>
		<string>AUSTRALIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AT</string>
		<key>full</key>
		<string>AUSTRIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>AZ</string>
		<key>full</key>
		<string>AZERBAIJAN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BH</string>
		<key>full</key>
		<string>BAHRAIN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BY</string>
		<key>full</key>
		<string>BELARUS</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BE</string>
		<key>full</key>
		<string>BELGIUM</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BZ</string>
		<key>full</key>
		<string>BELIZE</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BO</string>
		<key>full</key>
		<string>BOLIVIA, PLURINATIONAL STATE OF</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BA</string>
		<key>full</key>
		<string>BOSNIA AND HERZEGOVINA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BR</string>
		<key>full</key>
		<string>BRAZIL</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BN</string>
		<key>full</key>
		<string>BRUNEI DARUSSALAM</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>BG</string>
		<key>full</key>
		<string>BULGARIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CA</string>
		<key>full</key>
		<string>CANADA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CL</string>
		<key>full</key>
		<string>CHILE</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CN</string>
		<key>full</key>
		<string>CHINA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>TW</string>
		<key>full</key>
		<string>CHINA TAIWAN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CO</string>
		<key>full</key>
		<string>COLOMBIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CR</string>
		<key>full</key>
		<string>COSTA RICA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>HR</string>
		<key>full</key>
		<string>CROATIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CY</string>
		<key>full</key>
		<string>CYPRUS</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>CZ</string>
		<key>full</key>
		<string>CZECH REPUBLIC</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>DK</string>
		<key>full</key>
		<string>DENMARK</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>DO</string>
		<key>full</key>
		<string>DOMINICAN REPUBLIC</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>EC</string>
		<key>full</key>
		<string>ECUADOR</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>EG</string>
		<key>full</key>
		<string>EGYPT</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>SV</string>
		<key>full</key>
		<string>EL SALVADOR</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>EE</string>
		<key>full</key>
		<string>ESTONIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>FI</string>
		<key>full</key>
		<string>FINLAND</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>FR</string>
		<key>full</key>
		<string>FRANCE</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>GE</string>
		<key>full</key>
		<string>GEORGIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>DE</string>
		<key>full</key>
		<string>GERMANY</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>GR</string>
		<key>full</key>
		<string>GREECE</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>GT</string>
		<key>full</key>
		<string>GUATEMALA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>HN</string>
		<key>full</key>
		<string>HONDURAS</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>HK</string>
		<key>full</key>
		<string>HONG KONG</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>HU</string>
		<key>full</key>
		<string>HUNGARY</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IS</string>
		<key>full</key>
		<string>ICELAND</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IN</string>
		<key>full</key>
		<string>INDIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>ID</string>
		<key>full</key>
		<string>INDONESIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IR</string>
		<key>full</key>
		<string>IRAN, ISLAMIC REPUBLIC OF</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IE</string>
		<key>full</key>
		<string>IRELAND</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IL</string>
		<key>full</key>
		<string>ISRAEL</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>IT</string>
		<key>full</key>
		<string>ITALY</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>JM</string>
		<key>full</key>
		<string>JAMAICA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>JP</string>
		<key>full</key>
		<string>JAPAN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>JO</string>
		<key>full</key>
		<string>JORDAN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>KZ</string>
		<key>full</key>
		<string>KAZAKHSTAN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>KP</string>
		<key>full</key>
		<string>KOREA, DEMOCRATIC PEOPLE&apos;S REPUBLIC OF</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>KR</string>
		<key>full</key>
		<string>KOREA, REPUBLIC OF</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>KW</string>
		<key>full</key>
		<string>KUWAIT</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>LV</string>
		<key>full</key>
		<string>LATVIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>LB</string>
		<key>full</key>
		<string>LEBANON</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>LI</string>
		<key>full</key>
		<string>LIECHTENSTEIN</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>LT</string>
		<key>full</key>
		<string>LITHUANIA</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>LU</string>
		<key>full</key>
		<string>LUXEMBOURG</string>
	</dict>
	<dict>
		<key>brief</key>
		<string>MO</string>
		<key>full</key>
		<string>MACAO</string>
	</dict>
</array>
</plist>
